<h1>
  All products ready at realTimeProducts.handlebars !!!
</h1>

<ul style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;" id="productsUl">
</ul>


<h1 style="color:rgb(46, 249, 6)">Add Product</h1>
<form id="form" action="submit()" method="POST">
  <label>title:</label>
  <input name="title" id="title">
  <label>description:</label>
  <input name="description" id="description">
  <label>price:</label>
  <input name="price" id="price">
  <label>thumbnail:</label>
  <input type="file" name="thumbnail" id="thumbnail">
  <label>code:</label>
  <input name="code" id="code">
  <label>stock:</label>
  <input name="stock" id="stock">

  <input type="submit" id="submit">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/realTimeProducts.js"></script>